.dialog.data_source_new {

    .data_sources {
        min-width: 300px;
        display: inline-block;
    }

    label, input {
        display: inline-block;
    }

//     label {
//       margin-top: $padding-y;
//     }

    div.data_source_fields.collapsed {
        display: none;
        border: none;
        padding: 0 $dialog-padding-leftRight;
        margin-left: 1px;
        margin-bottom: 0;
    }

//     .data_sources_form {
//     
// //     	same variables as data_source_edit_dialog */
// //     	todo: refactor these out to a common class instead of duplicating */
//         $fieldset-width: $default-dialog-width - (2 * $dialog-padding-leftRight) - 10;
//         
//         $field_max_width: 460px;
//         $hostname_width: 365px;
//         $account_width: 220px;
//         $input-spacing: 10px;
//         $size_width: 75px;
//         $width_margin_buffer: 5px;
// 
//         margin-bottom: $dialog-padding-bottom;
// 
//         label[name=host], input[name=host],
//         label[name=database], input[name=database],
//         label[name=jobTrackerHost], input[name=jobTrackerHost],
//         // label[name=hiveKerberosPrincipal], input[name=hiveKerberosPrincipal],
//         // label[name=hiveKerberosKeytabLocation], input[name=hiveKerberosKeytabLocation]
//         {
//             width: $hostname-width;
//         }
//         
//         input, textarea,
//         textarea[name=description] {
//             max-width: $field_max_width;
//         }
// 
// 
//         label[name=port], input[name=port],
//         label[name=jobTrackerPort], input[name=jobTrackerPort] {
//             width: $size_width;
//             margin-left: $input-spacing;
//         }
// 
//         label.db_username, input.db_username,
//         label[name=databaseName], input[name=databaseName],
//         .username, .group_list, .gnip_username {
//             width: $account_width;
//         }
// 
//         label[name=size], input[name=size] {
//             width: $size_width;
//             margin-top: 1px;
//         }
// 
//         label.db_password, input.db_password,
//         label[name=schemaName], input[name=schemaName],
//         .group_list, .gnip_password {
//             width: $fieldset-width - $account_width - $dialog-padding - $width_margin_buffer;
//             margin-left: $input-spacing;
//         }
// 
// //         img.help {
// //             display: inline-block;
// //             margin-top: -3px;
// //             vertical-align: middle;
// //         }
// 
//         .instructions {
//             @include dialog-label;
//             margin-top: 20px;
//             display: inline-block;
//         }
// 
//         .disabled {
//             color : $color-text4;
//         }
// 
//         .max_size {
//             @include dialog-label;
//         }
// 
//         select, .ui-selectmenu-button .ui-button {
//             width: 300px;
//         }
//     }

}
    .data_source_fields {
    
//     	same variables as data_source_edit_dialog */
//     	todo: refactor these out to a common class instead of duplicating */
        $fieldset-width: $default-dialog-width - (2 * $dialog-padding-leftRight) - 10;
        
        $field_max_width: 100%;
        $field_half_width: 48%;
        $field_large_width: 80%;
        $field_small_width: 16%;
        $field_spacing: 4%;
        
        $hostname_width: 365px;
        $account_width: 220px;
        $input-spacing: 10px;

        $size_width: 75px;
        $width_margin_buffer: 5px;

        margin-bottom: $dialog-padding-bottom;

        // textarea {}
        
        input {
            box-sizing: border-box;

        }
        
        div {
            &.general_data_source_fields {
                margin-bottom: 20px;
            }
        }

        .width_wide {
            float: left;
            width: 80%;
            margin-right: 3%;
        }
        .width_small {
            input {
                width:17%;
            }
        }

        .width_half_left {
            float: left;
            width: 49%;
            margin-right: 3%;
        }
        .width_half_right {
            input {
                width: 48%;
            }
        }      

        
        
//         label[name=host], input[name=host],
//         label[name=database], input[name=database],
//         label[name=jobTrackerHost], input[name=jobTrackerHost],
//         label[name=hiveKerberosPrincipal], input[name=hiveKerberosPrincipal],
//         label[name=hiveKerberosKeytabLocation], input[name=hiveKerberosKeytabLocation] {
//             width: $field_large_width;
//         }
        
        
//         label.partwidth, 
//         input.partwidth {
//             width: $field_small_width;
//         }
        
//         label[name=port], 
//         input[name=port],
//         label[name=jobTrackerPort], 
//         input[name=jobTrackerPort] {
//             width: $field_small_width;
//             margin-left: $field_spacing;
//         }

//         label.db_username, input.db_username,
//         label[name=databaseName], input[name=databaseName],
//         .username, .group_list, .gnip_username {
//             width: $account_width;
//         }

//         label[name=size], input[name=size] {
//             width: $size_width;
//             margin-top: 1px;
//         }

//         label.db_password, input.db_password,
//         label[name=schemaName], input[name=schemaName],
//         .group_list, .gnip_password {
//             width: $fieldset-width - $account_width - $dialog-padding - $width_margin_buffer;
//             margin-left: $input-spacing;
//         }

        .instructions {
            @include dialog-label;
            margin-top: 20px;
            display: inline-block;
        }

        .disabled {
            color: $color-text4;
        }

        .max_size {
            @include dialog-label;
        }

        select, .ui-selectmenu-button .ui-button {
            width: 300px;
        }
    }

    .connection_parameters_container {
      padding-top: 5px;
    }
// }

.ui-selectmenu-menu #data_sources-menu li a,
.ui-selectmenu-button #data_sources-button .ui-selectmenu-text {
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .select_one {
    width: 0px;
    height: 0px;
  }

  .register_existing_greenplum {
    background: transparent url("/images/data_sources/datasource_greenplum-small.png") center center no-repeat;
  }

  .register_existing_postgres {
    background: transparent url("/images/data_sources/datasource_postgres-small.png") center center no-repeat;
  }

  .register_existing_hawq {
    background: transparent url("/images/data_sources/datasource_hawq-small.png") center center no-repeat;
  }

  .register_existing_oracle {
    background: transparent url("/images/data_sources/datasource_oracle-small.png") center center no-repeat;
  }

  .register_existing_jdbc {
    background: transparent url("/images/data_sources/datasource_jdbc-small.png") center center no-repeat;
  }

  .register_existing_hdfs {
    background: transparent url("/images/data_sources/datasource_hadoop-small.png") center center no-repeat;
  }

  .register_existing_jdbc_hive {
    background: transparent url("/images/data_sources/datasource_jdbc_hive-small.png") center center no-repeat;
  }

  .register_existing_gnip {
    background: transparent url("/images/data_sources/datasource_gnip-small.png") center center no-repeat;
  }
}

.ui-selectmenu-button #data_sources-button .ui-selectmenu-text {
  span {
    margin-top: -4px;
  }
}
