// $hostname-width: 375px;
// $account_width: 240px;
// $input-spacing: 12px;
// $fieldset-width: $default-dialog-width - 2 * $dialog-padding-leftRight;

.data_source_edit {
    input[type=text][disabled=disabled] {
        border: 0;
        background: none;
    }

    label, input {
      display: inline-block;
    }

//     label {
//         margin-top: $padding-y;
//     }

//     label[name=host], input[name=host],
//     label[name=jobTrackerHost], input[name=jobTrackerHost],
//     label[name=hiveKerberosPrincipal], input[name=hiveKerberosPrincipal],
//     label[name=hiveKerberosKeytabLocation], input[name=hiveKerberosKeytabLocation]{
//         width: $hostname-width;
//     }

//     input[name=database] {
//         width: $hostname-width;
//     }

//     .username, .group_list, .gnip_username, .gnip_password {
//         width: $account_width;
//     }

//     .group_list, .gnip_password {
//         width: $fieldset-width - $account_width - $dialog-padding-leftRight - 2px;
//         margin-left: $input-spacing;
//     }

//     label[name=port], input[name=port],
//     label[name=jobTrackerPort], input[name=jobTrackerPort] {
//         width: $fieldset-width - $hostname-width - $dialog-padding-leftRight - 2px;
//         margin-left: $input-spacing;
//     }

//     select, .ui-selectmenu-button .ui-button {
//         width: 300px;
//     }
// 
//     .connection_parameters_container {
//       padding-top: 5px;
//     }
}