.dialog.sandbox_new {

    fieldset {
        margin-bottom: $dialog-padding-bottom;

        input[name=schemaName],
        input[name=databaseName] {
          width: 260px;
        }

        select,
        .ui-selectmenu-button .ui-button {
            width: 275px;
        }
    }
}