.collection_list {

$list-item-height: 40px;
/* $dialog-list-item-left-padding: 15px; */
$dialog-list-item-left-padding: 0px;
/* $dialog-list-item-right-padding: 15px; */
$dialog-list-item-right-padding: 0px;

    max-height: (($list-item-height + $default-border-width) * 10) + $list-item-height;
    overflow: auto;

    ul {
        li {
            height: $list-item-height;
            border-bottom: $border-canon;
            padding: 0 $dialog-list-item-right-padding 0 $dialog-list-item-left-padding;
            line-height: $list-item-height;
/*             vertical-align: middle; */ /* to be deleted when final */
            @include ellipsis;

            img {
                max-width: $icon-image-width;
                max-height: $icon-image-height;
                vertical-align: middle;
            }

            .name {
                vertical-align: middle;
                @include font-normal-alpha;
            }
        }
    }
}