.alert.function_info {
    .function_return_type {
        font-size: $small-font;
        color: $black;
    }

    .function_name {
        font-size: 13px;
        color: $black;
        font-weight: $semibold;
    }

    .function_arguments {
        font-size: $small-font;
        display: block;
        color: $black;
    }
    
    .description {
        margin-bottom: 15px;
    }
    
    .definition {
        font-family: monospace;
    }
}