$image-width: 230px;

.workspace_edit_dialog.dialog {
    .edit_photo {
        width: $image-width;
        margin-right: $padding-x;
        display: inline-block;

        .spinner_container {
            width: $image-width;
            height: 50px;
            background: white;
            margin-bottom: $padding-y;
            text-align: center;
            border: 1px solid #BEC1C4;

            img {
                max-width: $image-width;
                max-height: 50px;

                &.disabled {
                    display: none;
                }
            }
        }
    }

    .instructions, .archived_text {
        color: $color-text3;
    }

    select.owner, .ui-selectmenu-button .ui-button {
        display: block;
        min-width: 215px;
    }

}
