.hdfs_entry_sidebar {
    .info {
        .name {
            @include ellipsis;
            @include heading-sidebar;
            margin-bottom: 10px;
        }

        .last_updated {
            color: $color-text4;
            font-size: $small-font;
            margin-top: 5px;
        }
    }
}

.hdfs_entry {
    img {
        display: inline-block;
    }

}

ul.hdfs_link_menu {
    min-width: 130px;
    padding: 9px 7px 9px 2px;
    line-height: 16px;

    li {
        margin: 2px 4px 0px;

        a {
            font-weight: normal;
            color: black !important;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
