// ********** */
// errors, messages, etc in dialogs          */
// also alerts - which are messaging dialogs */
// ********** */

$margin-right-for-error-marker: 20px;

@mixin alert-marker {
	&::after {
		display: inline-block;
		width: 0;
		height: 0;
		position: relative;
		right: 19px;
		top: 1px;
		color: $alert-icon-color;
		font-size: $alert-icon-medium;
        font-family: FontAwesome;
		@include alert-error-icon;
	}
}

// colored border for fields that have an error */
@mixin error-input-border {
    border: 2px solid $error-input-border-color;
}

// exclamation icon marker for fields that have an error */
// cant use FA glyph because input fields can only have background images */
@mixin error-background-icon {
    background-image: url("/images/messaging/error-exclamation.svg");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    padding-right: $margin-right-for-error-marker;
}


.errors,
.sql_errors,
.dataset_errors,
.warning {
    @include after-clearfix;

    background-color: $body-background-color;

    font-weight: normal;

    // .message_block: used on full-page error type
    .message-block {

        margin: 10px $dialog-padding-leftRight 10px $dialog-padding-leftRight;
        border: 1px solid $error-icon-color;
        @include border-radius ($alert-border-radius);
        background-color: $error-background-color;        
    }
    
    ul {
        // position: relative; */
        text-align: left;


// ***** */
// if "errorDiv" is not within .girdle, then need to match side margins of .girdle */
// otherwise, only top and bottom */
// ***** */
        
// TODO: reference numbers to be made into mixin */
// dialog */
// text */
// > margin-left: 35 */
// icon */
// > margin-left: -25 ( -1 * (textmargin - 10)) */
// > size: medium */
//  */
// in-page */
// text */
// > margin-left: 40 */
// icon */
// > margin-left: -30 ( -1 * (textmargin - 10)) */
// > size: large */


        li {
            position: relative;
            margin: 0px $dialog-padding-leftRight 5px $dialog-padding-leftRight;
            padding: 10px 10px 11px 0px;
            padding-left: 35px;

            font-size: $medium-font - 1;
            vertical-align: top;

            background-color: $error-background-color;
            color: $error-text-color;
            border: 1px solid;
            border-radius: $alert-border-radius;


            &:first-child {
                margin-top: 5px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            // ~li {}

            &::before {
                display: inline-block;
                width: 0;
                height: 0;
                position: relative;
                left: -25px;
                top: 2px;
                color: $error-icon-color;
                font-size: $alert-icon-medium;
                font-family: FontAwesome;
                @include alert-error-icon;
            }
        }
    }
}

//     .action { */
//         font-weight: normal; */
//         display: inline-block; */
//         float: right; */
//         margin: 0 10px; */
//         font-size: $medium-font; */
//         color: white; */
//         padding-top: 10px; */
//     } */


// OVERRIDES for when errors are within a dialog
.dialog {
    .errors,
    .sql_errors,
    .dataset_errors,
    .warning {
        ul {
            li {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.error_block {}

.warning {
    background-color: $needs-attention;
}

// user input: named error BUT in meaning is as alert */

// input elements wont take ::after  */
// so background image is necessary */

input.has_error,
textarea.has_error,
.text-core .text-wrap textarea.has_error,
.text-core .text-wrap input.has_error {
    @include error-input-border;
    @include border-radius(1px);
    
    @include error-background-icon;
    background-position: 99.5% 50%;
}

.inputError {
    @include alert-marker;
}

.cleditorMain.has_error {
    @include error-input-border;
    @include border-radius(1px);

    @include error-background-icon;
    background-position: 99% 2%;

    iframe body {
        margin-right: $margin-right-for-error-marker;
    }
}

.error_detail {
    background: red;
    color: $core-white;
}

.ie9, .ie8, .ie7 {
    textarea.has_error {
        background-position: 93%;
    }
}

.bad_activity {
    background: $error-background-color !important;
    font-size: 20px !important;
}
