@import "_browser_support";
@import "compass/css3/transform";

.file-wrapper {
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;

    // this is a class so it is easy to remove in integration tests to avoid selenium errors
    .file-input {
        // in firefox, the file input stops a cursor from appearing (but clicking the button will still open the file input)
        -moz-transform: translate(-500px, 0pt);

        // in IE, the file input will show a cursor - making it bigger means the cursor will be hidden
        @include transform(scale(5));

        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        @include opacity(0);
        z-index: 1;
     }
}

.image_upload {
    .file-wrapper {
        padding-left: 3px;

        .action {
            font-size: $small-font;
            font-weight: $semibold;
            cursor: pointer;

            &.disabled {
                color: $color-text4;
                cursor: normal;
            }
        }
    }
}
