<div class="multiple_fields">
    <div class="width_half_left">
        <label class="required db_username" name="dbUsername" for="dbUsername">{{t "data_sources.dialog.database_account"}}</label>
    </div>

    <div class="width_half_right">
        <label class="required db_password" name="dbPassword" for="dbPassword">{{t "data_sources.dialog.database_password"}}</label>
    </div>
</div>

<div class="multiple_fields">
    <div class="width_half_left">
        <input class="db_username" type="text" id="dbUsername" name="dbUsername" maxlength="256" tabindex="10"/>
    </div>

    <div class="width_half_right">
        <input class="db_password" type="password" id="dbPassword" name="dbPassword" maxlength="256" accept="" autocomplete="off" tabindex="11"/>
    </div>
</div>
