<div>
    <label class="required hiveKerberosPrincipal hidden" name="hiveKerberosPrincipal" for="hiveKerberosPrincipal">{{t "data_sources.dialog.kerberos_principal"}}</label>
    <input class="hiveKerberosPrincipal hidden" id="hiveKerberosPrincipal" type="text" name="hiveKerberosPrincipal" maxlength="256"/>
</div>

<div>
    <label class="required hiveKerberosKeytabLocation hidden" name="hiveKerberosKeytabLocation" for="hiveKerberosKeytabLocation">{{t "data_sources.dialog.kerberos_keytab"}}</label>
    <input class="hiveKerberosKeytabLocation hidden" id="hiveKerberosKeytabLocation" type="text" name="hiveKerberosKeytabLocation" maxlength="256"/>
</div>

<input type="hidden" name="hive" value="true"/>