<!-- generate the datasource icon display -->
<div class="datasource_images">
    <img class="state" src="{{stateUrl}}" title="{{stateText}}"/>
    <img class="provider datasourceIconLarge" src="{{iconUrl}}"/>
</div>
