<div id="dialog_bottom" class="form_controls">
    <button type="submit" class="submit modalish" {{#if disabled}}disabled="disabled"{{/if}}tabindex="99">{{t submitText}}</button>
    <button type="button" class="cancel modalish" tabindex="100">{{t cancelText}}</button>
</div>
