<div class="search">
  <form action="#">
    <input type="text" name="search_text" placeholder="{{t "header.search.placeholder"}}" required/>
  </form>
  <div class="type_ahead_result hidden"></div>
</div>