<div class="ptm line info_block">
    <div class="col">
        <img src="/images/messaging/icon_info_mediumgrey.png"/>
    </div>
    <div class="col col-last">
        <span>{{t info}}</span>
    </div>
</div>
<hr />