<div class="upload_widget file_details">
    <img class="hidden pull_left file_icon" src="/images/workfiles/icon/plain.png"/>
    <div class="file">
        <span class="file_name"/>
        <span class="file-wrapper">
            <button class="choose button_action">{{t "dataset.import.select_file.button"}}</button>
            <input class="file-input" type="file" name="{{propertyName}}"/>
            <a href="#" class='hidden'>{{t "actions.change"}}</a>
        </span>
        <span class="empty_selection">{{t "dataset.import.no_file_selected"}}</span>
    </div>
</div>
