.breadcrumbs {
    ol {
        padding: $padding-y ($padding-x + $guts-padding + 1px);
    }

    li {
        display: inline;
        @include font-normal-beta;
        word-break: break-all;
        word-wrap: break-word;
        max-width: 245px;
        vertical-align: top;
    }

    a {
        color : $color-text1;
        margin-right : $padding-x;
    }

    .slug {
        @include font-normal-delta;
    }
}