@import "_browser_support";
@import "compass/css3";

$header-margin: 30px;

// left and right side margins to match general page margins
$header-margin-left: $page-margin-left;
$header-margin-right: $page-margin-right;

$expanded-search-width: 450px;
$notification-token-width: $header-margin * 2;

$branding-opacity: 0.93;

$menu-item-height-default: 40px;


@mixin full-item-link($height) {
    &:hover, &.selected {
        background-color: $list-hover-color;
    }

    a {
        height: $height;
        width: 100%;
        display: table;

        text-decoration: none;

        div {
            display: table-cell;
            vertical-align: middle;
            padding-left: 15px;
                        
            sub { @include secondary-text-small; }
        }
    }
}

// WIP
// dupe of full-item-link, but factoring out the <div>
// and simplifying

@mixin username-item-link($height) {
    &:hover, &.selected {
        background-color: $list-hover-color;
    }

    a {
        height: $height;
        width: 100%;

        text-decoration: none;

        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        line-height: $height;
    }
}

.underline {
    border-bottom: $border-canon;
}
    
.logged_in_layout {
    > .header {

        height: $header-height;
        background-color: $brand;
        vertical-align: middle;

        .menu {
            border: none;
            box-shadow: $shadow-canon;
            padding: 0 0 0 0;
            top: $header-height;
        }

        .token {
            &.active {
                background-color: $brand-tint;
            }
            a.label {
                color: #FFFFFF;
                text-decoration: none;
                display: block;

                height: $header-height;
                line-height: $header-height;

                span {
                    display: inline-block;

                    .caret {
                        margin-left: $caret-margin;
                        color: $caret-color;
                    }
                }
            }
        }

        .left {
            float: left;
            #primary-menu {
            	position: relative;
            	top: 1px;
            	width: 16px;
            	height: 16px;
            	opacity: 0.94;
            	
            	position: absolute;
            	left: 16px;
            	
            	svg {
            	    fill: #FFF;
            	}
			}

            .token {
                float: left;
                
                // main branding logo
                &.logo {
                    width: 90px;
                    padding: 0px 10px;
                    opacity: $branding-opacity;
                    
                    &:hover {
                        opacity: 1;
                    }
                    a img {
                        vertical-align: middle;
                    }

                    img {
                        max-height: 25px;
                    }
                }

                &.drawer {
                    width: $header-height;
                    text-align: center;

                    &.active {
                        background-color: $brand-shade;
                    }

                    &:hover {
                        background-color: $brand-tint;
                    }
                }
            }
        }

        .right {
            float: right;

            .menu {
                border: $border-canon;
                border-top: none;
            }
            .token {
                float: right;

                .caret {
                    font-size: $default-font-size;
                }

                &.active .caret::before {
                    // when activating the menu, switch the caret
                    content: "\f0d8";  // fa-caret-up
                }

                &.username {
                    &:hover { background-color: $brand-tint; }
                    padding: 0 12px;
                    margin-right: $header-margin-right;
                }

                &.messages {
                    width: $notification-token-width;
                    text-align: center;

                    a.notifications .lozenge {
                        &.empty { background: $brand-dark; }
                        background: $notification;

                        @include lozenge(2px, 30px, $header-height/3);
                    }
                }

                &.advisorNow a img {
                    position: relative;
                    width: 83px;
                    top: 6px;
                    
                    margin-bottom: 0px;
                    padding-right: 15px;
                    opacity: $branding-opacity;
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .search {
            $icon-box-width: 30px;
            $collapsed-search-width: 178px;

            overflow: hidden;
            margin: 8px 0 0 0;
            border-radius: 3px;
            display: inline-block;
            margin-top: 10px;
            height: 30px;

            span {
                color: $brand-light;
                z-index: 1;

                &.search_clear {
                    font-size: $default-font-size;
                    position: relative;
                    top: 2px;
                }
                &.magnifying_glass {
                    position: absolute;
                    left: 168px;
                    top: 16px;
                    font-size: 16px;
                }

            }
            .search_magnifying_glass:before {
                z-index: 1;
                color: $brand-light;
                font-size: 15px;
                top: 2px;
            }
            
            input {
                @include placeholder {
                    color: $brand-tint;
                }

                height: $icon-box-width;
                background-color: $brand-shade;
                border: none;
                color: white;
                font-weight: normal;

                @include transition-duration(0.7s);
                @include transition-timing-function(cubic-bezier(0,0,0,1));
                padding-left: $icon-box-width;
                padding-right: $icon-box-width;
                width: $collapsed-search-width;

                &:valid, &:focus {
                    width: $expanded-search-width;
                    background-color: $brand-dark;
                    @include placeholder {
                        color: transparent;
                    }
                }

                html.ie8 & {
                    height: 17px;
                }
            }
        }

        .menu.type_ahead_result {
            em {
                font-weight: $semibold;
                color: $color-text2;
                line-height: normal;
            }
            position: absolute;
            top: 38px;
            left: 137px;
            right: $sidebar-width + $padding-x + 75px;
            width: $expanded-search-width;

            word-break: break-all;

            .name {
                line-height: normal;
            }                        
            li.result {
                @include full-item-link(60px);
            }
            li.search_all {
                @include full-item-link($menu-item-height-default);
                padding-top:5px;
                padding-bottom: 5px;
            }   
            div {
                padding-right: 10px;
            }
        }

        .menu.popup_drawer {
            $drawer-width: 165px + $header-height;
            @include transition-duration(0.5s);
            @include transition-timing-function(cubic-bezier(0,0,0,1));

            &.hidden {
                left: - ($drawer-width + 5px);
                display: block !important;
            }

            width: $drawer-width;
            height: 100vh;
            left: 0px;
            li { 
                @include full-item-link($header-height);
                &:hover .knob {
                    background: $brand-shade;
                }
            }
            .knob {
                padding-left: 0px;
                color: white;
                background: $brand-dark;
                width: $header-height;
                text-align: center;
                &.remainder { height: 100vh; }
            }
            
            //  color for svg glyphs in the primary nav bar
            #primary {
                svg {
                    fill: #FFF;
                }
            }
            
            // individual sections of the primary nav
            #primary-home { 
                @extend #primary;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
            #primary-workspaces {
                font-size: 18px;
            }
            #primary-data {
                font-size: 18px;
            }
            #primary-users {
                @extend #primary;
                svg {
                    width: 29px;
                    height: 29px;
                }
            }
            #primary-tags {
                font-size: 18px;
            }
        }

        .menu.popup_username {
            line-height: 24px;
            // account for 1px border around popup
            right: $header-margin-right - 1;
            width: $header-margin * 6;

            li {
                @include username-item-link($menu-item-height-default)
            }
        }

        .menu.popup_notifications {
            $width: 320px;
			// calculate the left margin. add 1 for 1px border */
            margin-left: -( ($width - $notification-token-width / 2) +1);
            width: $width;

            line-height: 14px;

            .notification_area {
                overflow: auto;
                max-height: 900px;

                $difference: 150px;
                $window-height: 1000px;
                @while $window-height > 400px {
                    @media (max-height: #{$window-height}) {
                        max-height: $window-height - $difference;
                    }
                    $window-height: $window-height - 50px;
                }
            }

            a {
                text-decoration: none;
                vertical-align: baseline;
                color: $link-color;

                &.delete_link {
                    @include secondary-text-small;
                }
            }

            .notification_list > ul > li {
                border-bottom: $border-canon;

                .activity_item:hover {
                    background: $list-hover-color;
                }
                &.insight {
                    padding: 12px 0 5px;

                    .activity_item {
                        padding-top: 12px;
                    }
                }
            }

            a.notifications_all {
                padding: 10px 0;
                display: block;
                text-align: center;
                font-size: $small-font;
                font-weight: $semibold;
            }
        }
    }
}
