.list {
    position: relative;

    li {
        @include after-clearfix;
        border-bottom: $border-canon;
        padding: $padding-y $padding-x;
        position: relative;

        &:last-child {
/*             border-bottom: none; */
        }

        .image {
            display: block;
            float: left;
            width: $large-image-width + 5px;
            height: $large-image-height;

            img {
                height: auto;
                width: auto;
                max-width: $large-image-width + 5px;
                max-height: $large-image-height;
            }
            &.icon {
                width: $icon-image-width;
                height: $icon-image-height;

                img {
                    max-width: $icon-image-width;
                    max-height: $icon-image-height;
                }
            }
        }

        .name {
/*             padding-top: 2px; */
            padding-bottom: 5px;
            
			@include font-primary;
            display: inline-block;
            max-width: 85%;
            word-break: break-all;
            span {
                max-width: none;
            }
        }
        a.name {
            @include font-primary-link;        
        }

        .item_information {
            _overflow: visible;
            line-height: 21px;
            overflow: hidden;
            padding-left: $padding-x;
            vertical-align: top;
            word-wrap:break-word;

            .summary {
                padding-bottom: 3px;
            }

            .name_disabled {
                color: $color-text2;
            }

            .comment {
                padding-bottom: 3px;
            }
            .tableau {
                padding-bottom: 3px;
            }
        }

        .job_item {
            .image {
                width: 34px;
            }

            .frequency, .next_run, .last_run {
                display: inline-block;                
            }
            .frequency {
                width: 120px;
            }
            .next_run {
                width: 220px;
            }
            .last_run {
                width: 400px;
            }
            .state {
                .loading_spinner {
                    right: 0;
                    left: -10px;
                    top: 10px;
                }
                color: $color-text4;
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }

        .milestone_item {
            .state {
              color: $color-text4;
              position: absolute;
              right: 20px;
              top: 20px;
            }
        }

        .job_task_item {
            .index {
                float: left;
                margin-left: 1px;
                margin-right: 10px;
				@include font-primary;
            }

            .arrows{
                position: absolute;
                right: 20px;
                top: 15px;
                .move_up_arrow,
                .move_down_arrow {
                    cursor: pointer;
                    display: inline-block;

                    border: 3px solid #606060;
                    border-radius: 20px;
                    background-color: #F0F0F0;
                    
                    margin-left: 5px;
                    
                    &:hover {
                        background-color: #C0E0F6;
                    }
                }
                .arrow_disabled {
                    border-color: #C0C0C0 !important;
                    background-color: #DDD !important;
                    &:hover {
                         background-color: inherit;
                    }
                }   
            }
        }

        .main_text {
            display: inline-block;
        }

        .description, .data_source_description {
            @include secondary-text-small;
        }

        .details {
            /* font-size: 13px; */
        }

        .details_area {
            @include list-item-details-area;
            .small {
                font-size: $small-font;
            }
        }

        .summary {
            color: $color-text4;
            line-height: $summary-line-height;
            @include tertiary-text-normal;

            .styled_text {
                height: auto;
                max-height: $summary-line-height * 2;
            }
            .links a {
                font-size: 13px;
            }

            &.expanded {
                .styled_text {
                    max-height: none;
                }
            }
        }

        .tag {
            float: right;
        }

        .timestamp {
            font-size: $small-font;
            font-style: italic;
        }

        .checkbox_placeholder {
            float: left;
            display: inline-block;
            width: 18px;
            height: 1px;
        }
    }

    &.selectable, &.accordion {
        input[type=checkbox] {
            float: left;
            margin-top: 5px;
            margin-right: 10px;
        }

        .no_credentials {
            .name {
                color: $color-text3;
            }
            .location {
                color: $color-text2;
            }
        }

        .browse_more {
            padding: 20px 10px;
            @include font-normal-beta;
            height: auto;

            a { font-size: 13px; }
        }

        li {
            a:hover { text-decoration: underline; }
            
            &:nth-child(odd) {
                background-color: $list-striping-color;
            }

            &:hover {
                background-color: $list-hover-color;
            }

            &.selected, &.checked {
                background: $list-checked-color;
                border-color: $border-color-dark;
            }
        }
    }
}

.item_tag_list {
    .tag_name:after {
        content: ', ';
        color: $color-text2;
        font-weight: $semibold;
    }

    .tag_name:last-child:after {
        content: '';
    }
}
