@import "_browser_support";

$sub_nav-background: $list-striping-color;
$sub_nav-lozenge-min-width: 90px;
$sub_nav-lozenge-height: 23px;

.sub_nav {
    margin-top: $header-height + $subheader-height;
    height: $subnav-height;
    padding-left: $page-margin-left;
    line-height: $subnav-height;
    background: $sub_nav-background;
    border-bottom: $border-canon;

    li {
        display: inline;
        padding: 0 10px 0 0;
        a {
            display: inline-block;
        }

        @include pill-tab($sub_nav-lozenge-min-width, $sub_nav-lozenge-height);

        @include pill-tab-colors($lozenge-color-normal, $lozenge-color-hover, $lozenge-color-selected);
    }
//   specials for subnav */
//
//    .lozenge {
//        background-color: $lozenge-color-normal;
//    }
//    
//
    @include after-clearfix;
}