<table>
  <thead>
    <tr>
      <td>Chorus Class</td>
      <td>Permissions</td>
    </tr>
  </thead>
    <% permissions.each do |key, value| %>
      <tr>
        <td>
          <b><%= key %></b>
        </td>
        <td>
          <%= value.inspect %>
        </td>
      </tr>
    <% end %>
</table>