@import "compass/utilities/general/clearfix";
@import "compass/css3";

$card-border-radius: 3px;
$card-namelayer_background: $greyish-blue;
$card-namelayer_background_highlight: darken($greyish-blue, 6%);

$card-progressbar: rgba( desaturate( darken($greyish-blue, 10%), 7% ), 0.6);
$card-progressbar_highlight: rgba( desaturate(darken($greyish-blue, 17%), 12%), 0.75);
$card-progressbar_zero: rgba(#C0C0C0, 0.5);


@mixin dashboardcard-heading {
    @include debugging-mixin;
    font-size: 16px;
    font-weight: $semibold;
}

.project_list {

    select, .ui-selectmenu-button .ui-button {
        display: inline-block;
    }
}


/* media queries for card size        */
    .dashboard_project_card {
        @media (max-width: 1024px) {
            width: 308px
        }

        @media (min-width: 1025px) and (max-width: 1250px) {
            width: 23.7555%;
            min-width: 20%;
        }

        @media (min-width: 1251px) and (max-width: 1650px) {
            width: 23.7855%;
        }
        
        @media (min-width: 1651px) {
            width: 19.0%;
            min-width: 17%;
            max-width: 25%;
        }
    }

/* extended set of highlights on hover */    
.dashboard_project_card {
    &:hover {

        border-color: $border-color-darkest;
        .name_row {
            background-color: $card-namelayer_background_highlight;
            
            .progress_label {
                display: inline-block;
            }
        }

        .layer_ambient_progress {
            div[style="width:0%"] {
                border-color: $card-progressbar_highlight;
                background-color: transparent;
            }
            .card {
                background-color: $card-progressbar_highlight;
            }
        }
                    
        .metrics_row, .insight_row {
            background-color: #F0F5FF;
        }
        
        .name_row *,
        .layer_ambient_progress *,
        .metrics_row,
        .insight_row {
            @include transition-duration(1s);
            @include transition-timing-function(cubic-bezier(0,0,0,1));
        }
    }
}
 
.dashboard_project_list {
    margin-left: -10px;
    
    .loading_text, .empty_state {
        margin-left: 10px;
    }
}
 
   
.dashboard_project_card {
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0px 0px 10px 10px;
    border: $border-canon;
    -moz-border-radius: $card-border-radius;
    border-radius: $card-border-radius;

    li {
        display: block;
    }

    .name_row {
        height: 47px;
        background-color: $greyish-blue;
        border-top-left-radius: $card-border-radius;
        -moz-border-radius-topleft: $card-border-radius;
        border-top-right-radius: $card-border-radius;
        -moz-border-radius-topleft: $card-border-radius;
        overflow: hidden;
    }

    .layer_name {
        position: absolute;
        z-index: 999;
        top: 9px;
        left: 10px;
        /* nearly the whole width in order to effect ellipsis */
        width: 95%;
    }
  
    .project_name {
        display: block;
        @include font-primary-link;
        @include ellipsis;
    }

    .layer_ambient_progress {
        position: relative;
        z-index: 1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
        .progress_bar {
            height: 100%;
        }

        /* special case of progress bar: when there are milestones but 0% progress */
        div.progress_bar[style="width:0%"] {
            border-right: 5px dotted $card-progressbar;
            background-color: transparent;
        }
        
        /* normal cases of progress bar: progress > 0% */
        .card {
            background-color: $card-progressbar;
        }
        
        &.card_on_track,
        &.card_needs_attention,
        &.card_at_risk {}
    }

    .progress_label {
        display: none;
        position: relative;
        float: right;
        z-index: 13;
        right: 10px;
        top: 29px;
        
        a {
            @include secondary-text-small;
        }
    }

    .metrics_row {
        padding: 10px 10px 13px 10px;            
        border-bottom: $light-gray 1px solid;
    }

    .data_row {
        .left_side {
            display: inline-block;
            width: 50%;
        }
        .right_side {
            display: inline-block;
        }
        .number {
            a {
                @include dashboardcard-heading;
            }
        }
        .element {
            @include font-secondary-content;
            line-height: 14px;
            margin-bottom: 6px;
        }
    }

    .insight_row {
        height: 35px;
        padding: 10px 10px 13px 10px;
        color: $color-text2;
        
        .main_row {
            @include dashboardcard-heading;
        }
        
        .no_comments_or_anything {
            font-size: $default-font-size;
            font-weight: normal;
            color: $color-text4;
        }
        
        .sub_row {
            @include secondary-text-small;
        }
        
        .has_recent_comments + .sub_row {
            color: $color-text2;
        }
    }
}
