@mixin button-theme($border, $font) {
    button, a.button {
        border-color: $border;
    }
}

// base class for "Action Bars!"
.action_bar {
    // TODO coordinate this padding with sidewide left and right
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.action_bar_highlighted {
    @extend .action_bar;
    background-color: $action-bar-highlighted-background-color;
    color: $fiji-green;

    a {
        color: $fiji-green;
    }

    @include button-theme($button-border-color-highlighted, $fiji-green);
}

.action_bar_hoverable_item {
    cursor: pointer;
    &:hover {
        background-color: $action-bar-hovered-item-background-color;
    }
}

.action_bar_primary {
    @extend .action_bar;
    @include button-theme($button-border-color, $default-font-color);
}

.action_bar_secondary {
    @extend .action_bar;
    border-top: $border-canon;
    background-color: $action-bar-secondary-background-color;
    @include button-theme($button-border-color-secondary, $default-font-color);
}

.action_bar_limited {
    @extend .action_bar;
    background-image: url("/images/general/binary_workfile_action_bar_tile.png");
    @include button-theme($button-border-color-limited, $default-font-color);
}
