@import "_common";

.picker {
  .label {
    width: 150px;
    @include font-menu;
    display: inline-block;
  }

  input {
    width: 50px;
    display: inline-block;
  }
}

.row {
  line-height: 34px;
  vertical-align: middle;
}

.date-picker {
    -webkit-transition:opacity .05s ease-in-out;
    -moz-transition:opacity .05s ease-in-out;
    -ms-transition:opacity .05s ease-in-out;
    transition:opacity .05s ease-in-out;

    .date-picker-table {
        /* Prevent background color leak outs */
        -webkit-background-clip: padding-box;
        -moz-background-clip:    padding;
        background-clip:         padding-box;
    }
}
