<div class="girdle">
    <h2>{{t "schema_picker.change_workfile_schema.select_schema" }}</h2>

    <div class="schema_picker"/>
</div>
<!-- END girdle -->

{{formControls "schema_picker.change_workfile_schema.save"}}