<form>
    <div class="girdle">
        {{! maxlength is HTML5 only, so be sure to use the jquery limitMaxLength plugin as well. }}
        <textarea class="required" name="body" placeholder="{{t 'comments.placeholder' commentSubject=entityTitle}}" tabindex="1">{{body}}</textarea>
    </div>
    <!-- END girdle -->

    {{formControls "comments.button.create" }}

</form>