<div class="dataset_title_section">
    <span class="fa fa-caret-right toggle_display"></span>
    <span class="dataset_title">
        <img src="{{iconUrl}}" alt=""/>
        <div class="name list_item_text">
            <a href="#" title="{{name}}">{{name}}</a>
        </div>
    </span>
</div>

<div class="column_list"></div>