<div id="dialog">
<!-- BEGIN dialog -->

    <div id="dialog_header" class="dialog_header"/>

    <div id="dialog_content" class="dialog_content"/>
        <form action="#">
        <div class="girdle">
    
        {{> errorDiv}}

        </div>
        <!-- END girdle -->
    
        <div id="dialog_bottom" class="form_controls"/>
    
        </form>
    
    </div>

<!-- END dialog -->
</div>
