<form>
<div class="girdle">
    <div class="tag_input_instruction">{{t "edit_tags.instructions"}}</div>
</div>
<!-- END girdle -->

    <div class="tags_input"></div>



{{> closeWindowFormControls }}
</form>