<div>
    <div class="data_source half-width"></div>

    <div class="database half-width hidden"></div>

{{#unless hideRemoveLink}}
    <a href='#' class='remove_source'>{{t 'actions.remove'}}</a>
{{/unless}}
</div>