<div class="line">
    <div class="col col-18">{{#if fileMask}}{{t "hdfs_dataset.content_details.file_mask" fileMask=fileMask}}{{/if}}</div>
    <div class="col col-ext">{{t "hdfs.read_only"}}</div>
</div>
{{> errorDiv}}