<form action="">
    <div class="girdle">
        <input type="text" name="fileName" placeholder="Name" class="file_name" value="{{fileName}}"/>
    </div>
    <!-- END girdle -->
    
    {{formControlsWithDisabledSubmit "hdfs.import.create"}}
</form>
