<div class="girdle">
    <fieldset>
        <legend>{{t "gnip.import_stream.import_into_sandbox"}}
            <a class="select_workspace">
                {{t "gnip.import_stream.select_workspace"}}
            </a>
        </legend>
        <div class="to_table">
            <label for="to_table">{{t "gnip.import_stream.new_table"}}</label>
            <input id="to_table" type="text" name="toTable" maxlength="64"/>
        </div>

    </fieldset>
</div>
<!-- END girdle -->

{{formControls "import.begin"}}
