{{#if canUpdate}}
    <div class="actions">
        <label>{{t "sidebar.selected.one"}}</label>
        <ul>
            <li><a href="#" class="edit_job_task dialog-launch" href="#">{{t "job_task.action.edit"}}</a></li>
            <li><a href="#" class="delete_job_task dialog-launch" href="#">{{t "job_task.action.delete"}}</a></li>
        </ul>
    </div>
{{/if}}
