
<div class="column_filter"></div>

<select class="comparator"/>

<span class="filter default hidden">
    <input class="validatable" name="value" type="text"/>
</span>

<span class="filter competition_type select_type hidden">
    <select class="validatable" name="value"/>
</span>

<a href="#" class="remove" title="{{t 'actions.remove'}}">
    <span class="fa fa-times-circle"></span>
</a>
