<div class="header_container">
    <label class="required">{{t "sandbox.select.data_source"}}</label>
</div>
<div class="loading_text">
    <span class="loading_spinner"></span>
</div>

<div class="unavailable hidden">{{t "sandbox.unavailable.data_source"}}</div>
<div class="select_container hidden">
    <select class="full_dialog_horizontal" name="data_source"></select>
</div>