<div id="header"></div>
<div id="page_sub_header"></div>
<nav role="navigation"><ul id="sub_nav"></ul></nav>

<div id="guts">

    <div id="breadcrumbs"></div>

    <div id="left">
        <div id="main_content"></div>
    </div>

    <div id="sidebar_wrapper">
        <div id="sidebar">
            <div id="help hidden"></div>
            <div class="primary_action_panel"></div>
            <div class="multiple_selection hidden"></div>
            <div class="sidebar_content primary"></div>
            <div class="sidebar_content secondary hidden"></div>
        </div>
        <div class="jump_to_top">
            <div class="triangle_up"></div>
        </div>
    </div>

</div>