{{#if canUpdate}}
    <div class="actions">
        <label>{{t "sidebar.selected.one"}}</label>
        <ul>
            <li><a class="delete_milestone" href="#">{{t "milestone.actions.delete"}}</a></li>
            <li><a class="toggle_state" href="#">{{t stateToggleKey}}</a></li>
        </ul>
    </div>
{{/if}}

