<form action="#">
    <div class="girdle">
        <div class="input">
            <input type="text" name="objectName" placeholder='{{t "dataset.name_chorus_view.placeholder"}}' tabindex="1" maxlength="64" value="{{objectName}}"></input>
        </div>
    </div>
    <!-- END girdle -->
    
    {{formControls "dataset.name_chorus_view.create"}}
</form>