<div class="row hidden">
    <span class="label"></span>
    <span>
        <span class="image"><img class="icon" alt="" /></span>
        <span class="name"></span>
        <a href="#" class="removeWidget"><span class="fa fa-times-circle remove" title="{{t 'actions.remove'}}"></span></a>
        <span class="progress_bar hidden"><span></span></span>
        <span class="progress_text hidden">{{t "notes.new_dialog.progress_text"}}</span>
        <span class="upload_finished hidden">{{t "notes.new_dialog.done"}}</span>
    </span>
</div>
