<form>
<div class="girdle">
    <div class="sub_header">
        <input type="text" class="chorus_search" placeholder="{{t placeholderTranslation}}"/>
    </div>
    <div class="pick_items_list"></div>
    
</div>
<!-- END girdle -->

    {{formControlsWithDisabledSubmit submitButtonTranslationKey}}
</form>