{{#if actions}}
    <div class="panel">
        <ul>
            {{#each actions}}
                <li class="action">
                    <a href="#" class="{{name}}">{{message}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}