<div class="title">{{t "dashboard.project_card_list.name"}}</div>
<div class="menus">
    <select class="workspace_filter">
        <option value="members_only">{{t "workspace.project.filter.members_only"}}</option>
        <option value="most_active">{{t "workspace.project.filter.most_active"}}</option>
        <option value="all">{{t "workspace.project.filter.all"}}</option>
    </select>
</div>