<div class="line">
    <div class="col col-ext">
        <a class="download" href="{{downloadUrl}}">
            <button class="button_action">{{t "actions.download_file"}}</button>
        </a>
    </div>

    <div class="col col-last">
        <span class="not_previewable">{{explanationText}}</span>
    </div>
</div>