<form>
    <div class="girdle">
        <div class="form_pair">
            <label for="fileNameField" class="required">{{t "workfile.rename_dialog.filename.label"}}</label>
            <input id="fileNameField" value="{{fileName}}" name="fileName" tabindex="1" maxlength="60" class="{{#isSql}}sql{{/isSql}}"/>
                {{#isSql}}.sql{{/isSql}}
        </div>
        
        {{> legendRequired}}
        
    </div>
    <!-- END girdle -->
    
    {{formControls "workfile.rename_dialog.submit"}}
</form>