<form>
    <div class="girdle">
        <div class="form_pair">
            <label for="renameTagField">{{t "rename_tag.label"}}</label>
            <input class="rename_tag_input" id="renameTagField" value="{{name}}"/>
        </div>
    </div>
    <!-- END girdle -->    
    
    {{formControlsWithDisabledSubmit "rename_tag.button"}}
</form>
