<form>
<div class="girdle">
    <fieldset class="in_a_box">
        <form>
            <div class="data_source_mode"></div>
            <div class="standalone_mode hidden"></div>
        </form>
    </fieldset>
    <div>
        <input id="sandbox_show_sandbox_datasets" class="show_sandbox_datasets" type="checkbox" checked="checked"/>
        <label for="sandbox_show_sandbox_datasets">{{t "actions.sandbox.show_sandbox_datasets_by_default"}}</label>
    </div>

    {{> legendRequired}}
    
</div>
<!-- END girdle -->

{{formControlsWithDisabledSubmit "sandbox.create_sandbox"}}

</form>