{{> datasourceIcon}}

<div class="item_information">
    <a class="name" href="{{showUrl}}">{{displaySearchMatch "name"}}</a>
    <div class="item_metadata">
      {{> itemTags}}
    </div>
    <div class="data_source_description">{{displaySearchMatch "description"}}</div>
    <div class="comments_container" />
</div>