<span class="image">
    <img class="icon" src="{{iconUrl}}"/>
</span>

<div class='item_information description'>
    <a class="name" href="{{downloadUrl}}">{{displaySearchMatch "name"}}</a>

    <div class='item_metadata'>
        <span class="found_in">{{composedLinkString}}</span>
    </div>
</div>