<span class="image">
    <img class="icon" src="{{iconUrl}}"/>
</span>

<div class="item_information">
    <a class="name" href="{{showUrl}}">{{displaySearchMatch "name"}}</a>
    <div class="item_metadata">
        <div class="comments_container"/>
        <div class="description_content">{{#if summary}}&#8220;{{displaySearchMatchFromSafeField "summary"}}&#8221;{{/if}}</div>
        {{> itemTags}}
    </div>
</div>