<h1 class="docs_heading">Typography</h1>

{{#each typographies}}
    {{{this}}}
    <pre><code class="language-markup">{{ this }}</code></pre>
{{/each}}

<h1 class="docs_heading">Links</h1>

<p>Design note: There are only two link styles. Please replace any blue links with the default link and any black or
    gray links with
    the lowlight link style.</p>

{{#each links}}
    {{{this}}}
    <pre><code class="language-markup">{{ this }}</code></pre>
{{/each}}

<h1 class="docs_heading">Lists</h1>

<h2>Simple List</h2>
<ul class="example">
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
</ul>

<h2>Horizontal List</h2>
<ul class="example list_horizontal">
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
</ul>

<h2>Horizontal Divided List</h2>
<ul class="example list_horizontal_divided">
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
</ul>

<h2>Breadcrumb List</h2>
<ul class="example list_breadcrumb">
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
</ul>

<h2>Vertical Divided List</h2>
<ul class="example list_vertical_divided">
    <li>First Item</li>
    <li>Second Item</li>
    <li>Third Item</li>
</ul>

<h2>Selectable List</h2>
<ul class="example list_selectable">
    <li>First Item</li>
    <li class="selected">Selected Item</li>
    <li>Third Item</li>
</ul>

<h2>Hover Reveal List</h2>

<ul class="list_hover_reveal example">
    <li>
        Random Text
        <ul class="list_horizontal_divided">
            <li>Always Visible</li>
            <li class="revealable">Sometimes Visible</li>
            <li class="revealable">Sometimes Visible</li>
        </ul>
    </li>
    <li>
        Random Text
        <ul class="list_horizontal_divided">
            <li>Always Visible</li>
            <li class="revealable">Sometimes Visible</li>
            <li class="revealable">Sometimes Visible</li>
        </ul>
    </li>
</ul>

<h1 class="docs_heading">Grids</h1>

<h2>Basic Grid</h2>
<div class="example">
    <div class="line">
        <div class="col cols-12" style="background-color: rosybrown">Half the Space</div>
        <div class="col col-last" style="background-color: greenyellow">The other half/the rest</div>
    </div>
    <div class="line">
        <div class="col cols-6" style="background-color: yellow">1/4 space</div>
        <div class="col cols-8" style="background-color: orange">1/3 space</div>
        <div class="col col-last" style="background-color: orchid">the rest.</div>
    </div>
</div>


<h2>Grid with Extended Column</h2>
<div class="example">
    <div class="line">
        <div class="col cols-12" style="background-color: rosybrown">Half the Space</div>
        <div class="col col-ext" style="background-color: greenyellow">Floated right</div>
    </div>
</div>

<h1 class="docs_heading">Action Bars</h1>

<h2>Primary</h2>
<div class="example">
    <div class="action_bar_primary">
        Primary!
        <button class="button_action">Action</button>
    </div>
</div>

<h2>Secondary</h2>
<div class="example">
    <div class="action_bar_secondary">
        Secondary!
        <button class="button_action">Action</button>
    </div>
</div>

<h2>Highlighted</h2>
<div class="example">
    <div class="action_bar_highlighted">
        Highlighted!
        <button class="button_action">Action</button>
    </div>
</div>

<h2>Limited</h2>
<div class="example">
    <div class="action_bar_limited">
        Limited!
        <button class="button_action">Action</button>
    </div>
</div>

<h1 class="docs_heading">Buttons</h1>

<h2>Action Button</h2>
<div class="example">
    <button class="button_action">Action Button</button>
    <button class="button_action" disabled>Disabled Action Button</button>
</div>

<h2>Modalish Submit Button</h2>
<div class="example">
    <button class="button_modalish" type="submit">Submit</button>
    <button class="button_modalish" type="submit" disabled>Disabled Submit</button>
</div>

<h2>Modalish Secondary Button</h2>
<div class="example">
    <button class="button_modalish">Secondary</button>
    <button class="button_modalish" disabled>Disabled Secondary</button>
</div>

<h2>Modalish Cancel Button</h2>
<div class="example">
    <button class="button_modalish cancel">Cancel</button>
    <button class="button_modalish cancel"disabled>Disabled Cancel</button>
</div>


<h1 class="docs_heading">Whitespace</h1>

<h2>Small whitespace on various sides</h2>
<div class="example">
    <div style="background: peachpuff">
        <span class="mts" style="background-color: yellow">Top Margin</span>
        <span class="pls" style="background-color: #a4ff1b">Left Padding</span>
        <span class="mrs" style="background-color: #ff8482">Right Margin</span>
        <span class="pbs" style="background-color: #c3ff4b">Bottom Padding</span>
    </div>
</div>

<h2>Medium whitespace on various sides</h2>
<div class="example">
    <div style="background: peachpuff">
        <span class="mtm" style="background-color: yellow">Top Margin</span>
        <span class="plm" style="background-color: #a4ff1b">Left Padding</span>
        <span class="mrm" style="background-color: #ff8482">Right Margin</span>
        <span class="pbm" style="background-color: #c3ff4b">Bottom Padding</span>
    </div>
</div>

<h2>Large whitespace on various sides</h2>
<div class="example">
    <div style="background: peachpuff">
        <span class="mtl" style="background-color: yellow">Top Margin</span>
        <span class="pll" style="background-color: #a4ff1b">Left Padding</span>
        <span class="mrl" style="background-color: #ff8482">Right Margin</span>
        <span class="pbl" style="background-color: #c3ff4b">Bottom Padding</span>
    </div>
</div>