<div id="tabs">
    <ul>
        <li><a href="#components"><span>Components</span></a></li>
        <li><a href="#dialogs"><span>Dialogs</span></a></li>
        <li><a href="#views"><span>Views</span></a></li>
        <li><a href="#fonts"><span>Fonts</span></a></li>
        <li><a href="#content_details"><span>Content Details</span></a></li>
        <li><a href="#color_palette"><span>Color Palette</span></a></li>
    </ul>

    <div id="components" class="views"/>

    <div id="fonts" class="views">
        <p>Font Mixins</p>
        <p class="heading_normal">This is the heading-normal mixin</p>
        <p class="heading_sidebar">This is the heading-sidebar mixin</p>
        <p class="list_section_heading">This is the list-section-heading mixin</p>

        <p class="dialog_label">This is the dialog-label mixin</p>
        <p class="font_normal_alpha">This is the font-normal-alpha mixin</p>
        <p class="font_normal_beta">This is the font-normal-beta mixin</p>

        <p class="secondary_text_normal">This is the secondary-text-normal mixin</p>
        <p class="secondary_text_small">This is the secondary-text-small mixin</p>
    </div>

    <div id="dialogs" class="views"/>
    <div id="content_details" class="views"/>
    <div id="views" class="views"/>
    <div id="color_palette" class="views"/>
</div>