<ul class='tabs'>
    {{#each tabKeys}}
        <li class="tab" data-name="{{name}}">
            <div class="lozenge">{{text}}</div>
        </li>
    {{/each}}
</ul>

<div class="tabbed_content_area"/>