<a class="image" href="#/tags/{{encode name}}">
    <span class="fa fa-tag tag_icon"></span>
</a>

<div class="item_information">
    <a class="name" href="#/tags/{{encode name}}">{{name}}</a>
    <div class="item_metadata">
        <div class="count">{{t "tag_list.item_count" count=count}}</div>
    </div>
</div>

