{{#hasTag}}
    <div class="tag_title">
        {{name}}
    </div>

    <div class="actions">
        <label>{{t "sidebar.selected.one"}}</label>
        <ul>
        {{#ifAdmin}}
            <li><a href="#" class="delete_tag_link">{{t "tag_list.delete.button"}}</a></li>
        {{/ifAdmin}}
            <li><a href="#" class="rename_tag_link">{{t "tag_list.rename.button"}}</a></li>
        </ul>
    </div>
{{/hasTag}}