<form action="" enctype="multipart/form-data" method="post">

    <div class="girdle">
        {{ uploadWidgetFor "contents" }}
    </div>
    <!-- END girdle -->

    {{formControlsWithDisabledSubmit submitKey}}

</form>
