<div class="line">
    <div class="col col-ext">
        <div class="save">
            <span class="auto_save mrm hidden"></span>
            <button class="save_as button_action" {{#if disableSaveButton}}disabled{{/if}}>{{t "workfile.content_details.save_as"}}<span class="down_caret"/></button>
        </div>
    </div>
</div>