{{#if hasImage}}
    <div class="image">
    <img class="workspace_image" src="{{imageUrl}}" />
    </div>
{{/if}}
<div class="after_image{{#if hasImage}} hidden{{/if}}">
    <div class="workspace_member_list"></div>
</div>
