<div id="main_content_wrapper">
  <div id="main_content">
    <div class="panel">
      <h3>Group Details</h3>
      <div class="panel_contents">
        <div class="attributes_table group" id="attributes_table_group_174">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr class="row row-id">
              <th>Id</th>
              <td><%= @group.id %></td>
            </tr>
            <tr class="row row-name">
              <th>Name</th>
              <td><%= @group.name %></td>
            </tr>
            <tr class="row row-description">
              <th>Description</th>
              <td><%= @group.description %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>