//legacy compass values to turn off/on support for specific browser agents

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

$legacy-support-for-mozilla: true;
$experimental-support-for-mozilla: false;

$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

$support-for-original-webkit-gradients: false;

//newer compass1.x values to turn off or on support for specific browser agents
//$browser-minimum-versions: ("chrome": "32", "firefox": "22", "ie": "10", "safari": "7", "opera": null);

$experimental-support-for-webkit: false;

//newer compass1.x values to turn off or on support for specific browser agents
//$browser-minimum-versions: ("chrome": "32", "firefox": "22", "ie": "10", "safari": "7", "opera": null);
