$debug-browser-support: true;

@import "_browser_support";
@import "_common";
@import "components/_button";
@import "compass/css3/border-radius";


$padding-side-canon: 10px;
$padding-top-canon: 10px;
$padding-bottom-canon: 10px;

/* height of buttons used for dashboard widget shell */
/* e.g. configure button */
$height-button-widgetshell: 23px;

$dashboard-module-minheight: 150px;

$dashboard-module-title-height: 35px;
$dashboard-module-padding: 10px;
$title-height: $dashboard-module-title-height - $dashboard-module-padding;


/* PAGE styles */
/* PAGETYPE: dashboard  */

/* page layout        */
div[data-page="Dashboard"], div[data-page="UserDashboardEdit"] {
    #guts {
        padding: ($header-height + $subheader-height) $page-margin-right 10px $page-margin-left;
    }

    #sidebar_wrapper {
        display: none;
    }

    #left {
        margin: 0;
    }

    #main_content {
        border: none;
        @include after-clearfix();
    }
    
     .right {
        float: right;
    }   
}
/* END page layout */

/* page heading    */
/* its mostly a regular page heading, but w/edit button on right */
.dashboard_sub_header {
    .button {
        background-color: $shaded-background-color;
        display: inline-block;
        cursor: pointer;

        /* covers the glyphs used, such as the cog */
        // i {
        //     color: $color-text3;
        //     font-size: 13px;
        //     line-height: $height-button-widgetshell;
        // }
    }
    
    .configure {
        /* the configure button */
        width: 35px;
        @include panel-button($height-button-widgetshell);
    }
}
/* END: page heading */
/* END: PAGETYPE dashboard */


/* ************ */
/* WIDGETS      */
/* specific dashboard widgets */

.dashboard_module {

/* ************ */
/* A dashboard_module             */
/* widget: recent activity stream */

    /* note: there is additional css for activity list dashboard widget in _activity_list.scss */
    
    .dashboard_activity_list {        
        .activity_wrapper {
            border-top: $border-canon;
            border-bottom: $border-canon;
            @include border-top-radius(10px);
            @include border-bottom-radius(10px);

            .activity_frame {
                max-height: $dashboard-module-minheight * 3;
                overflow-y: auto;
            }
        }
        .activities {
            padding-top: 10px;
        }
        
        a[href=''], a:not([href]) {
            color: $color-text3;
            text-decoration: none;
        }
    }

/* END: recent activity stream */


/* ************ */
/* A dashboard_module    */
/* widget: site snapshot */

    &.dashboard_site_snapshot {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child { margin-right: 0; }

                .squareish {
                    width: 220px;
                    height: 140px;
                }
            }
        }

       .total {
            padding-top: 10px;
            @include dashboard-huge;
        }

        .model {
            @include dashboard-snapshot-model;
            padding-bottom: 25px;
        }

        .increment {
            @include secondary-text-small;
        }

        $amber: rgb(242, 171, 13);
        $green: rgb(86, 174, 0);
        $blue: rgb(0, 144, 240);
        $purple: rgb(158, 27, 116);

        .workspace .total { color: $amber; }
        .associated_dataset .total { color: $green; }
        .workfile .total { color: $blue; }
        .user .total { color: $purple; }
    }
/* END: site snapshot */


/* ************ */
/* dashboard_module >  */
/* widget: workspace activity/most active chart */

    &.dashboard_workspace_activity {
        .chart {
            text-align: center;

            .axis path, .axis line {
                fill: none;
                stroke: $charcoal;
                shape-rendering: crispEdges;
            }
        }
    }
/* END: workspace activity chart */


/* ************ */
/* A dashboard_module       */
/* widget: recent workfiles */

    &.dashboard_recent_workfiles {
        #recent_workfiles_main_content {
            position: relative;
            min-height: $dashboard-module-minheight;

            .clear_list {
                width: 75px;
                @include panel-button($height-button-widgetshell);
                font-size: $small-font;
            }

            ul li {
                div {
                    display: inline-block;
                    div {
                        display: block;
                    }
                }
            }
            .file_name {
                padding: 0 0 0 10px;
            }

            .workfile_link {
                @include font-primary-link;
                padding: 0 0 1px 0;
                width: 500px;
            }

            .workspace_image {
                vertical-align: bottom;
                width: 18px;
                padding-right: 5px;
            }

            .workspace_link {
                @include font-secondary-link;
                font-weight: normal;
                max-width: 420px;
            }
            
            /* common handling for long names */
            .workfile_link,
            .workspace_link {
                display: inline-block;
                @include ellipsis;
            }
            
            .time_edited {
                float: right;
                margin-right: 1%;
                vertical-align: top;
                padding-top: 10px;
                @include secondary-text-small;
            }
        }

        .recent_workfiles_list {
            border-top: $border-canon;
            border-bottom: $border-canon;
        }
    }
/* END: recent workfiles */

}


/* ************ */
/* general dashboard widget */
/* panel used in configuring the widgets */

.dashboard_module {

    /* BEGIN: widget configuration */
    .widget_configuration {
        display: none;

        .mask {
            position: absolute;
            width: 100%;
            height: 100%;

            /* position to defeat the padding of the widget shell... */
            top: -$dashboard-module-padding;
            left: -$dashboard-module-padding;

            /* ...and add to cover the shell's padding */
            padding-bottom: ($dashboard-module-padding * 2) + 5;
            padding-right: $dashboard-module-padding * 2;
        
            background-color: $lightbox-overlay-color;
            @include border-radius($default-border-radius);
        }

        .config_content {
            position: absolute;           
            width: 100%;
            
            /* position to defeat the padding of the widget shell... */
            top: -$dashboard-module-padding;
            left: -$dashboard-module-padding;

            /* ...match padding of normal widget shell content */
            /* but account for the padding of the border */
            padding: $dashboard-module-padding - 1;
       
            background-color: $core-white;
            @include border-radius($default-border-radius);
            border: 1px solid #AAA;
            border-bottom: 0;
        }

        .button_row {     
            margin-top: 20px;
            padding-top: $dashboard-module-padding;
            padding-bottom: $dashboard-module-padding / 2;
        }
    }
    /* END: widget configuration */
}



/* ************ */
/* general dashboard widget */
/* provides a general style for a widget shell with common elements */

.dashboard_module {

    min-height: $dashboard-module-minheight;
    padding: $dashboard-module-padding $dashboard-module-padding ($dashboard-module-padding * 1.5) $dashboard-module-padding;
    margin-top: 20px;
    @include border-radius($default-border-radius);
    border: $border-canon;
    border-top-color: $border-color-dark;
    
    .button {
        background-color: $shaded-background-color;
        display: inline-block;
        margin-right: 3px;
        cursor: pointer;
        
        /* covers the glyphs used; i.e the cog */
        // i {
        //      color: $color-text3;
        //      font-size: $small-font;
        //      line-height: $height-button-widgetshell;
        // }

        /* remove rightside margin on the rightmost button so that it is flush right */
        &:last-child {
            margin-right: 0px;
        }
    }

    /* the configure button */
    .configure {
        width: 28px;
        @include panel-button($height-button-widgetshell);
    }
    
    .module_header {
        min-height: $title-height + $dashboard-module-padding;
        line-height: $title-height;

        .title {
            display: inline-block;
            @include dashboard-module-title;
            height: $title-height;
            line-height: $title-height;
        }
        
        .menus {
            float: none !important;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .loading_text {
        margin-left: 0px;
    }
}
    

/* rules for the recent activity hovering list that is part of the workspace cards */

    .tooltip {
        li.comment {
            .insight_ribbon {
                top: -18px;
            }
            .object {
                display: inline;
            }
        }
    }


/* TODO move this to the right location */
/* in the css file */

/* workspace most active chart: card of workspace details that displays on hover */
  
.hovercard {
    width: 300px;
    box-shadow: $shadow-canon;
    
	p {
		margin: 0;
	}

	.ui-tooltip-content {
		/* override defaults */
		padding: 0;
    	background-color: $core-white;
    	border-radius: $default-border-radius;
         
        .name_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;
			background-color: $greyish-blue;

            .inactive {
                @include font-primary-link;
                color: $disabled-text;
                line-height: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }

            a {
                @include font-primary-link;
                line-height: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;           
            }
        }
        
        .summary_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon $padding-side-canon;        
        }

        .activity_metric_row {
			padding: $padding-top-canon $padding-side-canon $padding-bottom-canon + 5 $padding-side-canon;
            border-top: 2px dotted $border-color-darkest;
            @include font-normal-gamma;
        }
	}
}


/* ********** */
/* ********** */

/* empty and app-tip needs a better home location. */
/* they are not specific to dashboard */
/* empty state: general case for when a 'set' has no contents. */

.empty_state {
    color: $disabled-text;
    p { 
        margin-top: 10px;
    }
}


/* in-app "intrinsic assistance" text */
$tip-text-color: $disabled-text;

.text_tip {
    margin-top: 10px;
    padding: 10px 10px 15px 10px;
    
    background-color: $light-grey-yellow;
    @include border-radius($default-border-radius);
    
    font-size: 13px;
    font-weight: normal;
    color: $tip-text-color;
    
    a {
        font-size: 13px;
    }
}
