@mixin profile_image {
    background: #FFFFFF;
    padding: 2px;
    border: $border-canon;
}

@mixin user_avatar_image {
    background: #FFF;
    /* padding: 2px; */
    border: $border-canon;
    border-radius: 5px;
}

.avatar {
    position: relative;
    float: left;
    width:  $icon-image-width;
    height: $icon-image-width;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
/* alternate */
/*     <li class="avatar"> */
/*         <img src="ipod.jpg" alt="iPod" /> */
/*     </li> */
/* avatar { */
/*  height: $icon-image-width; */
/*  width: $icon-image-width; */
/*  overflow: hidden; */
/* } */

/* .avatar img { */
/*  height: auto; */
/*  width: 400px; */
/* } */

img.profile {
    @include profile_image;
    border-radius: 5px;
    
    object-fit: cover;
}

.icon img.profile,
img.profile.icon {
    max-width: $icon-image-width - 3;
    max-height: $icon-image-height - 3;
}