<div class="actions">
    <ul>
        {{#if hasModel}}
        <li>
            <a class="sendMessage" href="#">
                {{t "actions.compose_kaggle_message"}}
            </a>
        </li>
        {{/if}}
    </ul>
</div>

<div class="tab_control"></div>
