<!-- dashboard widget -->
<!-- part1: header of widget -->
<div class="module_header">
    <div class="workspace_title title">{{t "dashboard.activity_stream.title"}}</div>

<div class="menus">
    <select class="activities_filter">
        <option value="all_activity">{{t "filter.all_activity"}}</option>
        <option value="only_insights">{{t "filter.only_insights"}}</option>
    </select>
</div>
