<ul class="list_horizontal_divided deemphasized pam">
    <li><a class="add dialog" data-dialog="DataSourcesNew" href="#">{{t "dashboard.data_sources.add"}}</a></li>
    <li><a class="browse_all" href="#/data_sources">{{t "dashboard.data_sources.browse_all"}}</a></li>
</ul>