<!-- @version 5 -->
<!-- NO LONGER IN USE -->
<!-- applies to an older version of chorus -->

<div class="modular_dashboard"></div>
<div class="main_content project_list"></div>
<div class="dashboard_sidebar">
    <div class="main_content data_source_list"></div>
    <div class="main_content workspace_list"></div>
</div>

<div class="main_content dashboard_main"></div>
