// @version 5
// NO LONGER IN USE
// applies to an older version of chorus

<ul class="list_horizontal_divided deemphasized pam">
    <li><a href="#" class="dialog-launch" data-dialog="WorkspaceNew">{{t "dashboard.create_workspace"}}</a></li>
    <li><a href="#/workspaces">{{t "dashboard.workspaces.browse_all"}}</a></li>
</ul>