.data_grid {
    $header-line-height: 30px;
    $line-height: 40px;
    $cell-width: 100px;
    $short-name-width: 90px;
    $column-horizontal-padding: 10px;


    overflow: hidden;
    position: relative;

    background: $data-grid-background-color;
    border: $dark-border-canon;
    
    .thead {
        position: absolute;
        top: 0;
        left: 0;
        background: #eaeef2;
        white-space: nowrap;
        z-index: $data-grid-head-z-index;
    }

    .tbody {
        position: absolute;
        top: $header-line-height + 1px;
        bottom: 0;
        left: 0;
        right: 0;
        white-space: nowrap;
        z-index: $data-grid-body-z-index;

        overflow: auto;
        line-height: normal;
    }

    .th, .column {
        border-right: 1px solid $border-color-dark;
        display: inline-block;
    }

    .column {
        width: $cell-width + (2 * $column-horizontal-padding);
        overflow: hidden;
    }

    .column[data-type="WHOLE_NUMBER"],
    .column[data-type="REAL_NUMBER"] {
        text-align: right;
    }

    .td, .th {
        @include ellipsis;
        padding: 0 $column-horizontal-padding;
    }

    .td {
        line-height: $line-height;
        border-bottom : $border-canon;
        @include font-normal-alpha;
    }

    .th {
        width: $cell-width;
        position: relative;
        vertical-align: middle;
        line-height: $header-line-height;
        height: $header-line-height;
        border-bottom: 1px solid $border-color-dark;

        .name {
            display: inline-block;
            width: $cell-width;
            @include ellipsis;
        }
    }

    .th:hover:first-child .name {
        width: $cell-width;
    }

    .th a.move_to_first {
        position: absolute;
        top: 10px;
        right: 6px;
        display: none;
        width: 10px;
        height: 10px;
        background-image: url("/images/general/shuttle_left.png");
        background-repeat: no-repeat;
    }

    .th:hover {
        a.move_to_first {
            display: block;
        }

        .name {
            width: $short-name-width;
        }
    }

    .th:first-child:hover {
        a.move_to_first {
            display: none;
        }

        .name {
            width: $cell-width;
        }
    }

}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 40px;
    right: -20px;
    top: 0;
    height: 100%;
}
