input {
    &.search {
        color: #606060;
    }
}

input.chorus_search {
    margin: 0;

    padding: 2px 20px 2px 25px;
    outline: none;
    background-color: #FBFBFB;
    @include border-radius(5px);    
    border-color: $border-color;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;

    font-size: $medium-font;
    line-height: 18px;
    vertical-align: top;
}


.search_magnifying_glass::before {
    position: absolute;
    top: 0px;
    left: 8px;
    font-family: FontAwesome;
    color: $gray;
    font-size: 13px;
    content: "\f002";  /* fa-search */
}

.chorus_search_container {
    display: inline-block;
    position: relative;
    line-height: 25px;
    padding: 0;
    margin: 0;
}

a.chorus_search_clear {
    position: absolute;
    top: 1px;
    /* margin-top: -14px; */
    right: 8px;
    /* line-height: 12px; */
    color: $gray;

/*     i { */
/*         font-size: 9px; */
/*         color: $gray; */
/*     } */
}

